.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}
.row--payment-methods {
  padding-top: 16px;
}

.footerLayout{
  background: #fff;
  border-top: 2px solid #cecece;
}
.row--imgVtex a{display: block;margin:0 auto;}

.footerLayout{
  border-top: 2px solid #cecece;
}

@media only screen and (min-width: 640px) {
  .footerLayout{margin-top:20px;}
}
